body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: center;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-button, .menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.separator {
    border-top: 2px solid #ccc;
    margin: 20px 0;
}

.neon-text {
    font-size: 36px;
    color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

.membership-button {
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.cubes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cube {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 150px;
    text-align: left;
}

.buy-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Estilos para el tema oscuro */
body.dark {
    background-color: black;
    color: white;
}

body.dark .neon-text {
    color: white;
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

body.dark .menu {
    background-color: black;
}

body.dark .menu a {
    color: white;
  }
  
